.App {
  text-align: center;
}

#form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

#form-container input {
    width: 50%;
    max-width: 250px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

#form-container button {
    width: 35%;
    max-width: 235px;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
}

#form-container button:hover {
    cursor: pointer;
}

p {
    font-size: .5rem;
    color: red;
    margin: 0;
}

.hide {
    display: none;
}

.inputError {
    border-color: red;
}